<section>
  <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  <%= link_to "Pre-built Checkout", pre_built_checkout_path, class: 'btn btn-primary' %>
  <%= link_to "Custom Checkout", custom_checkout_path, class: 'btn btn-secondary' %>
</section>