<div class="container">
  <!-- Content here -->
  <%= link_to "Pre-built Checkout", pre_built_checkout_path, class: 'btn btn-primary' %>
  <%= link_to "Custom Checkout", custom_checkout_path, class: 'btn btn-secondary' %>
</div>