<section>
  <div class="product">
    <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
    <div class="description">
      <h3>Stubborn Attachments</h3>
      <h5>5000</h5>
    </div>
  </div>

  <%= form_with url: "/create-session", method: :post, data: { turbo: false } do |form| %>
    <%= form.submit "Checkout" %>
  <% end %>
</section>